/* Place your CSS styles in this file */
.navbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.brand {
    display: flex;
    align-items: center;
    gap: 10px;
}

.brand img {
    width: 100px;     
    height: 100px;
    object-fit: contain;
}

.title h2 {
    margin: 0;
    font-size: 20px;
}

.title p {
    margin: 0;
    font-size: 12px;
}
h1 {
    text-align: center;
    color:black;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;}

body {background-color:darkcyan   ;}

ul{list-style-type:calc();}
